{% extends "recipe/base.html" %}
{% load static i18n %}
{% block title %}{% trans "All recipes" %}{% endblock title %}
{% block content %}
<script src="https://use.fontawesome.com/0704467c52.js"></script>
ehej
<div id="home-recipe-list">
  {% for recipe in object_list %}
  <div class="recipe">
    <div class="recipe-title">
      {{ recipe.title }}
    </div>
    <div class="recipe-description">
      {{ recipe.description|safe|truncatechars_html:50 }}
    </div>
    <div class="recipe-time">
      <i class="fa fa-clock-o" aria-hidden="true"></i>
      {{ recipe.time_required }}
    </div>
    <div class="recipe-difficulty">
      {{ recipe.difficulty }}
    </div>
  </div>
{% endfor %}

{% endblock content %}
